<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad molestiae
        nobis dolores vitae sit assumenda. Nobis asperiores impedit tempora
        reprehenderit ducimus tenetur ullam, autem maiores perferendis unde
        labore nostrum itaque iusto quisquam, similique mollitia harum sequi,
        odit assumenda. Excepturi vero, a dignissimos aliquid voluptatibus
        quaerat maxime! Excepturi cum animi voluptatibus.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad molestiae
        nobis dolores vitae sit assumenda. Nobis asperiores impedit tempora
        reprehenderit ducimus tenetur ullam, autem maiores perferendis unde
        labore nostrum itaque iusto quisquam, similique mollitia harum sequi,
        odit assumenda. Excepturi vero, a dignissimos aliquid voluptatibus
        quaerat maxime! Excepturi cum animi voluptatibus.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad molestiae
        nobis dolores vitae sit assumenda. Nobis asperiores impedit tempora
        reprehenderit ducimus tenetur ullam, autem maiores perferendis unde
        labore nostrum itaque iusto quisquam, similique mollitia harum sequi,
        odit assumenda. Excepturi vero, a dignissimos aliquid voluptatibus
        quaerat maxime! Excepturi cum animi voluptatibus.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
